  .input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .input label {
    margin-right: 1rem;
  }
  
  input {
    font-weight: bold;
    border: 2px solid #222423;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(22, 21, 21); 
    font: inherit;
    padding-left: 0.5rem;
  }