.item {
    display: flex; 
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    text-align: left;
    max-width: 45rem;
    width: 100%;
    margin: 0 auto;
    float: right;
    margin-top: 0.5rem;
    font-size: 14px;
    border-radius: 2px;
    letter-spacing: 1px;
}

.item p {
    max-width: 60vw;
    line-height: 21px;
    overflow-wrap: break-word;
}

.item__numeration {
    display: flex;
    align-self: center;
    margin: 0 1.5rem;
}

.item__numeration span {
    font-size: 40px; 

}

.correct {
    color: #068a48;
    font-weight: bold;
}