.item {
    display: flex; 
    flex-direction: row;
    text-align: left;
    max-width: 45rem;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 0.5rem;
    font-size: 18px;
    border-radius: 2px;
    line-height: 8px;
    letter-spacing: 1px;
}

.item__numeration {
    display: flex;
    align-self: center;
    margin: 0 1.5rem;
}

.item__numeration span {
    font-size: 40px; 

}

.correct {
    color: #068a48;
    font-weight: bold;
}