.item {
    display: flex; 
    justify-content: center;
    align-self: flex-start;
    text-align: left;
    max-width: 45rem;
    margin: 0 auto;
    letter-spacing: 1px;
    border-top: 1px solid rgb(228, 224, 224);
}

span {
    font-weight: 500;
}

.item p {
    max-width: 60vw;
    font-size: 17px;
    line-height: 21px;
    overflow-wrap: break-word;
}

.item__numeration {
    display: flex;
    align-self: center;
    margin: 0 1.5rem;
    font-weight: 100;
}

.item__numeration span {
    font-size: 40px; 

}

.correct {
    color: #068a48;
    font-weight: bold;
}