.summary {
    display: flex; 
    flex-direction: column;
    text-align: center;
}

.summary h2 {
    font-weight: 400;
    margin-bottom: 48px;
}

.score {
    font-weight: 1000; 
}

span {
    font-weight: 500;
}

@media screen and (max-width: 786px) {

    .summary h2{
        font-size: 20px;
    };
}
