  .input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .input label {
    margin-right: 1rem;
  }
  
  .input input {

    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(51, 50, 50);
    color: rgb(236, 232, 232); 
    font: inherit;
    padding-left: 0.5rem;
  }