.form {
    width: 40%;
    margin: 0 auto;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message {
    color: rgb(230, 81, 81); 
}

.button {
    background-color: blue;
}